{:voices {:both "voices.wav"
          :pan? true
          :start "00:01:20"
          :fade-in "00:00:15"
          :intro-music-fade "00:02:25"
          :outro-music-start "00:05:00"
          :end "00:05:30"}
 :music {:intro {:file "intro.mp3"
                 :full-volume 1.0
                 :full-volume-length "00:00:30"
                 :fade-amount 0.1
                 :fade-out "00:00:15"}
         :outro {:file "outro.mp3"
                 :fade-amount 0.1
                 :fade-up "00:00:02"
                 :full-volume 1.0
                 :full-volume-length "00:00:30"
                 :fade-out "00:00:15"}
         :bumper {:file "bumper-music.mp3"
                  :fade-amount 0.1
                  :start-at "00:00:30"
                  :fade-out "00:00:01"}}
 :bumper "bumper.wav"
 :bloops {:bumper "keypickup.wav"
          :end "exit.wav"}}
